.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5;
}

.error__link-to-home {
  margin-top: 15px;
  display: inline-block;
}